html *{
    font-family:'sf pro';
    box-sizing: border-box;
}
/* .dark-mode {
    background-color: black;
    color: white;
  } */
  html{
    scroll-behavior: smooth;
   
  }
body{
    
    font-size: 20px;
    /* font-family: 'sf pro'; */
    margin: 0;
    
}
img{
    width: 100%;
    display: block;
}
ul{
    margin: 0px;
    padding: 0px;
}
.navbar{
    background-color:#ffffffc7;  
    position:fixed;
    overflow: hidden;
    display: flex;
    top: 0;
    width: 100%;
    backdrop-filter: blur(100px);
    transition: background-color 0.3s ease-in-out;
    
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    overflow-x: hidden;
    
}
.navbar_menu{
    display: flex;
    justify-content:space-between;
   

}
.list b{
    color:#ffffff;
}
.list{

    
    list-style: none;

    margin-left:auto;

}
.list a:hover{
    color: #6F84D7;
    transition: .6s;
}
.logo a{
    cursor: pointer;
}
.logo{
    padding: 0 15px;
    font-size: 40px;
    line-height: 70px;
    color: rgb(0, 0, 0);
}
.list_item{
    display: inline-block;
    padding: 0 15px ;
    margin: 20px;
    color: white;
    
}
.list_item a{
    text-decoration: none;
    color: rgb(0, 0, 0);
   
}
.menu{
    display: none;
    float: right;
    color: #131313;
    
}
.line{
    
    height: 8px; 
    width: 50px;
     background: black; margin-top: 6px;
}
.vertical_menu{ 
    width: 600px;
    display: none;

}
/* .vertical_menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
  } */

 @media screen and (max-width: 830px)
{
  .list
  {
  	display: none;
   }
  	.menu
    {
  	  float: right;
   	 display: block;
   } 

  
  }

.hero_section
{
    
    margin:auto ;
    
}


h3{
    font-size: 56px;
    font-family: sf pro;
    text-align: center;
    margin-top: 180px;
    margin-bottom: 20px;
    line-height: 1.2em;
}
.hero_section{
    width: 100%;
    height: 673px;
}
.tagline{
    margin-top: 35px;
    text-align: center;
    font-size: 22px;
    color: #7F808A;
    letter-spacing: 0.02em;
}
.short_desc
{
    text-align: center;
    font-size: 18px;
    color: #575757;
    letter-spacing: 0.05em;
    line-height: 1.6em;
}
.button
{
    color: white;
    height: 53px;
    width: 153px;
    background-color: #1847FF;
    border-radius: 4px;
    
    font-size: 16px;
    font-weight:bold;
   text-align: center;
   text-decoration: none;
   padding: 0;
   border: 0px;
   transition-duration: 0.4s;
  cursor: pointer;
}

.button:hover{
    color:#1847FF;
    background-color: white;
    border: solid #1847FF;
    
}
.button a{
    text-decoration: none;
    color: white;
}
.button a:hover{
    color: #1847FF;
}
p.Process_desc {
    color: #575757;
    letter-spacing: 0.01em;
    font-size: 20px;
    line-height: 1.5em;
}
.researchcontainer
{
    
    margin-top: 50px;
    float: left;
    width: 50%;
}
.research{
    color: #575757;
    letter-spacing: 0.01em;
    font-size: 20px;
    margin-top: 10px;
    line-height: 1.5em;
}
.row:after{
    content: "";
  display: table;
  clear: both;
}
.bluefont{
    color: #1847FF;
    font-weight: 500;
}


.wireframingcontent{
    color: #575757;
    letter-spacing: 0.01em;
    font-size: 20px;
    margin-top: 10px;
    line-height: 1.5em;
    /* margin-left: 565px; */
}
/* b.wireframing{


display: flex;
flex-direction: row-reverse;
justify-content: center;
/* margin-left: 100px;} */

.sec_section{
    background-color: #fafafa;
}


/* UI Screen Images-----------------------------------  */
.imagecontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
}
.imagebox{
    max-width: 30%;
    width: 100%;
}

/* Images on click dialogue box preview image--------------------------------------------> */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 1000px;
    /* max-width: 700px; */

  }
  
  /* Caption of Modal Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation */
  .modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px)
  {
    .modal-content {
      width: 100%;
    }
  }

.Profile_desc{
   
    font-size: 20px;
   
    line-height: 32px;
    color: #575757;
    letter-spacing: 0.03em;
    margin-bottom: 64px;
    line-height: 1.6em;
    
}
.footer{
    background-color: #131313;
    width: auto;
   
    text-align: center;
    
}
.footer b{
    color: #c7c7c7;
    font-weight: 400;

 }
 .footer_heading{
    padding-top: 40px;
    
 }
.sub_heading{
    color: white;
    padding-top: 20px;
    font-size: 40px;
    font-weight: bold;
}
.description{
    color: #c7c7c7;
    padding-top: 20px;
    font-weight: 400;
    letter-spacing: .18px;
    line-height: 28.8px;

}
.mail_button
{
    color: white;
    height: 56px;
    width: 313px;
    background-color: #1847FF;
    border-radius: 4px;
    font-size: 16px;
    font-weight:regular;
   text-align: center;
   text-decoration: none;
   padding: 0;
   border: 0px;
   margin-top: 35px;

}
.mail_button a{
    text-decoration: none;
    color: white;
    letter-spacing: 1.6;
}
.copyright{
    color: white;
    letter-spacing: 1.6;
    margin-top: 30px;
    font-size: 15px;
    
}
.profileimage{
    max-width: 57%;
    margin-left: auto;
}
.paragraph2{
    color: #757575;
    font-size: 18px;
    line-height: 1.6em;
    letter-spacing: 0.03em;
}
.location{
    color: #575757;
    font-weight: 300;
    letter-spacing: 0.03em;
    font-size: 18px;
}
.locationdiv{
    
    margin-bottom: 80px;
}

/* ----------------------------------------------------------------------Contact page */

.firstline{
    font-size: 18px;
    letter-spacing: 0.05em;
    color: #757575;
    margin-top: 170px;
    text-align: center;
}
h2{
    color: #131313;
    letter-spacing: 0.03em;
    text-align: center;
    font-size: 40px;
    line-height: 1.5em;
}
.details{
    color: #757575;
    letter-spacing: 0.03em;
    text-align: center;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.7em;
    
}
.contact_mail{
    
    color: white;
    height: 60px;
    width: 280px;
    background-color: #1847FF;
    border-radius: 4px;
    
    font-size: 16px;
    font-weight:400;
    letter-spacing: 0.09em;
   text-align: center;
   text-decoration: none;
   padding: 0;
   border: 0px;
   transition-duration: 0.4s;
  cursor: pointer;
}

.contact_mail:hover{
    color:#1847FF;
    background-color: white;
    border: solid #1847FF;
    
}
.contact_mail a{
    text-decoration: none;
    color: white;
}
.or{
    color: #131313;
    font-size: 30px;
    font-weight: bold;
    
}
.form_label_texts{
    color: #61615f;
    font-size: 18px;
   padding-bottom: 20px;
}
input {
    color: #575757;
    width: 94%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid;
}
.firstname_textbox_div{
    margin-top:15px;

}
input:hover{
    background-color: #f9f9f9;
    border:solid #c7c7c7 
}

.submit_btn{
    margin-top: 30px;
    margin-bottom: 80px;
    color: white;
    height: 50px;
    width: 140px;
    background-color: #1847FF;
    border-radius: 4px;
    
    font-size: 16px;
    font-weight:500;
    letter-spacing: 0.09em;
   text-align: center;
   text-decoration: none;
   padding: 0;
   border: 0px;
   transition-duration: 0.4s;
  cursor: pointer;
}
.submit_btn:hover{
    color:#1847FF;
    background-color: white;
    border:  #1847FF;
}

/* Contact Page Animation */


@keyframes slideInLeft 
{
    0% {
      transform: translateX(-10%);
        }

    100% {
             transform: translateX(0);
       }
}

.mainlline
{
    /* animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-name: slideInLeft; */
    display: block;
    animation: reveal 1.5s cubic-bezier(0.80, 0, 0.175, 1) 0.5s;

}
  @keyframes reveal {
    0% {
      transform: translate(0,100%);
    }
    100% {
      transform: translate(0,0);
    }
}


/* Case study */
.case_study_img
{
    width: 100%;
    height: auto;
    
    
}
.case_study_name1{
    font-size: 30px;
    font-weight:bold;
}
.ux_case_study
{
    margin: 100px;
}
.case_desc{
    font-size: 20px;
    line-height: 32px;
    color: #757575;
    letter-spacing: 0.03em;
    margin-bottom: 64px;
    line-height: 1.6em;
}

/* ZOMATO UX CASE STUDY CSS ----------------------------------------------------------- */

.zomato_cover_container{
    background-color: #DF656D;
    
}
.zomato_cover_image{
    margin-top: 20px;
    
}
.cover_heading{
    margin-top: 70px;
}
.zomato_image_div{
    float: left;
    margin-left: 500px;
}
.clear::after{
    content:"";
    clear: both;
    display: table;
}
.heading_text{
    margin-right: 700px;
    padding-top: 150px;
    float: left;
    margin-left: 40px;
    color: #1847FF;
}
.cover_heading div {
    padding-top: 150px;
    float: left;
    margin-left: 80px;

}

.heading_text p{
    color: white;
}
.breif_container{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    letter-spacing:0.04em;
    
}

/* -------------------------------------WORK PAGE------------------------------------------- */

.myworkcontainer{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
   
    justify-content: center;
    align-items: center;
    
}
.top_image{
   display: flex;
   /* width: 600px;
   height: 400px; */
}
.workimages{
    width: 353px;
    height: 353px;
    cursor: pointer;
}
/* .myworkcontainer img{
    
    margin-right: 60px;
} */
.second_row_images img{
    margin-right: 44px;
    margin-top: 44px;
}


@media screen and (max-width:800px)
 {

    .researchcontainer {width:100%;}
    .container{width: 90%;}
    .container h3{font-size: 47px;}
    .Process_desc{width: 100%;}
    .case_study_name1 a{font-size: 20px;}
    .ux_case_study{width: 100%; margin:0%;}
    .imagebox{max-width: 100%;}
    .button{font-size: 12px;}
    .profileimage{    max-width: 50%;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;}
    .imagecontainer{flex: 100%; justify-content: center;}

    
    
   }